* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(214 239 162 / 62%);
  position: relative;
  padding-bottom: 80px;
}
/* navbar */

.logo-pagina {
  width: 180px;
  height: 180px;
}
.nav-link {
  color: white;
}

/* ABOUT */
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(5, 7, 12, 0.75)),
    url(../images/pintura-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
.titulo {
  color: white;
  margin-bottom: 15px;
  font-size: 35px;
}

.about-us {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 5px;
}
/* trabajos */
.titulo_dos {
  margin: 20px;
  font-size: 35px;
  color: black;
}
/* contactanos */
.icono-redes {
  width: 50px;
  height: 50px;
}
.info-contacto {
  margin: 25px;
  font-size: 18px;
  color: black;
  margin-bottom: 3pc;
}

/* caja contacto */
.contenedor_form .form .form-header .form-title {
  font-weight: normal;
}

.contenedor_form .form {
  background: rgba(66, 219, 176);
  max-width: 1150px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.contenedor_form .form .form-label {
  display: grid;
  font-size: 16px;
}
textarea {
  width: 200px;
  height: 150px;
}
input {
  width: 250px;
}
.footer {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 16%,
    rgba(214, 239, 162, 0.62) 60%
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* footer */
.texto-footer {
  color: black;
  font-size: 15px;
}
/* Icono de Whatsapp */
.icono-wsp {
  width: 40px;
  height: 40px;
}

.btn-wsp {
  position: fixed;
  width: 65px;
  height: 65px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.842);
  z-index: 100;
}

@media (min-width: 1024px) {
  /* navbar */
  .nav-link {
    margin-right: 5px;
    margin-left: 5px;
  }
  .nav-link:hover {
    color: cornflowerblue;
  }
  /* about */

  .titulo {
    font-size: 50px;
  }
  .about-us {
    font-size: 25px;
    margin: 40px;
  }
  /* contacto */
  .titulo_dos {
    font-size: 40px;
  }
  .info-contacto {
    font-size: 25px;
  }
  .contenedor_form .form {
    background: rgba(0, 0, 0, 0.6);
  }
  textarea {
    width: 400px;
    height: 200px;
  }
}
